<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>


    <!---basic page needs-->
    <meta charset="utf-8">
    <title>GroceryGo</title>
    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--CSS-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!-- Latest compiled and minified CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />


    <!--script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- favicons
   ================================================== -->
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">


</head>

<body class="signupLogin">
<div class="container">
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Login to GroceryGo</h3>
                {% block content %}
                <!--                    <div class="container">-->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning text-center">
                    {{ message }}
                </div>
                {% endfor %}
                {% block page_content %}{% endblock %}
                <!--                    </div>-->
                {% endblock %}
                <div class="card-text">

                    <form method="POST" action="{{ url_for('.forgotPassword') }}">
                        <div class="form-group">
                            <label for="InputUserName">User Name</label>
                            <input type="text" class="form-control form-control-sm" id="InputUserName" name="username"
                                   aria-describedby="UserNameHelp">
                        </div>
                        <div class="form-group">
                            <label for="NewPassword">New Password</label>
                            <input type="password" class="form-control form-control-sm" id="NewPassword"
                                   name="NewPassword">
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control form-control-sm" id="ConfirmPassword"
                                   name="ConfirmPassword">
                        </div>
                        <button type="submit" name="postAction" value="submit" class="btn btn-info btn-block">Change
                        </button>
                        <button type="submit" class="btn  btn-block" name="postAction" value="cancel">Login
                        </button>

                        <!--                        <div class="sign-up">-->
                        <!--                            Don't have an account? <br>-->
                        <!--                            <button class="btn btn-warning" name="postAction" value="create">Create-->
                        <!--                            </button>-->

                        <!--                        </div>-->

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="preloader">
    <div id="loader"></div>
</div>


</body>
</html>
